server:
  port: 8080

spring:
  application:
    name: testapp-v6

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.example: INFO
    org.springframework: INFO
